---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
	post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const datePublished = new Intl.DateTimeFormat("en-CA", {
	dateStyle: "medium",
}).format(post.data.datePublished);
---

<div class="min-w-[200px] w-[400px] rounded-lg bg-slate-800 mx-4">
	<a href={`/blog/${post.slug}`}>
		{
			post.data.image && (
				<Image
					src={post.data.image as any}
					alt={post.data.title}
					width={400}
					height={225}
					class="rounded-t-lg"
				/>
			)
		}
		{
			post.data.imageText && (
				<div class="min-h-[225px] flex justify-center items-center">
					<p class="text-center text-6xl font-bold">{post.data.imageText}</p>
				</div>
			)
		}
	</a>
	<div class="flex flex-col justify-start items-start px-4 py-4">
		<a class="font-bold text-white" href={`/blog/${post.slug}`}>
			{post.data.title}
		</a>
		<p class="text-sm text-gray-200 mt-0.5">{datePublished}</p>
		{
			post.data.tags && (
				<div class="flex flex-wrap gap-2 mt-4">
					{post.data.tags.map((tag) => (
						<a
							class="text-xs text-gray-400 hover:text-gray-200"
							href={`/blog/tags/${tag}`}
						>
							#{tag}
						</a>
					))}
				</div>
			)
		}
	</div>
</div>
